<html>
  <head>
    <title>Backbone.Leaflet Integrated Map Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../lib/css/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../lib/css/leaflet.ie.css" />
    <![endif]-->
    <style>
      .map {
        width: 700px;
      }
      .map, .list {
        float: left;
        height: 400px;
      }
      .list {
        width: 200px;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: auto;
        background: #eee;
      }
      .list > .list-item {
        padding: 5px;
      }
      .list > .list-item:hover {
        background: #ddd;
      }
      .list > .list-item > .label {
        display: inline-block;
        width: 160px;
      }
      .list > .list-item > .destroy {
        cursor: pointer;
      }
      .output {
        display: block;
        clear: both;
      }
      .output > textarea {
        width: 900px;
        height: 150px;
      }
    </style>
  </head>
  <body>
    <h1>Integrated Map Example</h1>
    <p>Click to add new points.</p>
    <div id="map" class="map"></div>
    <ul id="list" class="list"></ul>
    <div id="output" class="output"></div>

    <script src="../lib/js/jquery.js"></script>
    <script src="../lib/js/underscore.js"></script>
    <script src="../lib/js/backbone.js"></script>
    <script src="../lib/js/leaflet.js"></script>
    <script src="../src/backbone.leaflet.js"></script>

    <script type="text/template" id="list-item-template">
      <span class="label"><%= properties.name %></span> <span class="destroy" title="Remove">x</span>
    </script>

    <script type="text/template" id="output-template">
      <textarea class="geoJSON"><%= geoJSON %></textarea>
      <br />
      <button class="reset">Reset</button>
    </script>

    <script>

      // Initial geoJSON to render.
      var geoJSON = {
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "geometry": { "type": "Point", "coordinates": [-46.6368, -23.5100] },
            "properties": { "name": "Point 1" }
          },
          {
            "type": "Feature",
            "geometry": { "type": "Point", "coordinates": [-46.6156, -23.5016] },
            "properties": { "name": "Point 2" }
          }
        ]
      };

      // Backbone view to create the list of "features".
      var ListView = Backbone.View.extend({
        className: 'list',
        initialize: function () {
          this.listenTo( this.collection, 'add', this.addOne );
          this.listenTo( this.collection, 'reset', this.addAll );
        },
        addOne: function ( model ) {
          var view = new ListItemView({ model: model });
          this.$el.append( view.render().el );
        },
        addAll: function () {
          this.$el.html( '' );
          this.collection.each( this.addOne, this );
        }
      });

      // Backbone view to display an item in the "features" list.
      var ListItemView = Backbone.View.extend({
        tagName: 'li',
        className: 'list-item',
        template: _.template( $( '#list-item-template' ).html() ),
        events: {
          'click .destroy': 'clear',
        },
        initialize: function () {
          this.listenTo( this.model, 'change', this.render );
          this.listenTo( this.model, 'destroy', this.remove );
        },
        render: function () {
          this.$el.html( this.template( this.model.toJSON() ) );
          return this;
        },
        clear: function () {
          this.model.destroy();
        }
      });

      // Output view to display the current geoJSON and to allow the user to
      // edit it and then reset the map content.
      var OutputView = Backbone.View.extend({
        template: _.template( $( '#output-template' ).html() ),
        events: {
          'click .reset': 'onReset',
        },
        initialize: function () {
          this.listenTo( this.collection, 'all', this.render );
        },
        render: function () {
          this.$el.html( this.template({
            geoJSON: JSON.stringify( this.collection.toJSON(), null, '  ' )
          }) );
          return this;
        },
        onReset: function () {
          this.collection.reset( JSON.parse( this.$( '.geoJSON' ).val() ) );
        }
      });

      // Extending the `Backbone.Leaflet.MapView` to bind map events.
      var MyMapView = Backbone.Leaflet.MapView.extend({
        // Bind `map`events using `map` as selector.
        events: {
          'click map': 'onClick',
          'click layer': 'onLayerClick'
        },

        // Creates new point when user click on map.
        onClick: function ( e ) {
          var lat = e.latlng.lat;
          var lng = e.latlng.lng;
          var geoJSON = {
            "type": "Feature",
            "geometry": { "type": "Point", "coordinates": [lng, lat] },
            "properties": { "name": "Unnamed Point" }
          };
          var geoModel = new Backbone.Leaflet.GeoModel( geoJSON );
          this.collection.add( geoModel );
        },

        onLayerClick: function ( e ) {
          var layer = e.target;
          var model = this.collection.get( layer );
          layer.bindPopup( model.get( 'name' ) ).openPopup();
        }
      });

      // Creates a `GeoCollection` instance.
      var geoCollection = new Backbone.Leaflet.GeoCollection();

      // Creates an extended `mapView` instance.
      var mapView = new MyMapView({
        el: '#map',
        collection: geoCollection
      });

      // Creates a list view instance.
      var listView = new ListView({
        el: '#list',
        collection: geoCollection
      });

      // Creates an output view instance to show the geoJSON generated.
      var outputView = new OutputView({
        el: '#output',
        collection: geoCollection
      });

      // Loads models from geoJSON.
      geoCollection.reset( geoJSON );

    </script>
  </body>
</html>
